# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# MLflow
mlruns/
mlartifacts/

# Data (keep raw references only)
data/processed/*.csv
data/raw/*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# AWS / secrets
*.pem
*.key
